nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    height: 56px;
    background: rgba(151, 2, 2, 0.25);
    backdrop-filter: blue(20px);
    border-bottom: 1px solid rgba(220, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 99;
    backdrop-filter: blur(12px);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.logo-sq {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.nav-title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-family: 'Bebas Neue', sans-serif;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
}

.nav-links a {
    font-size: .85rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    color: #d8d8d8;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Barlow Condensed', sans-serif;
}

.nav-links a:hover {
    color: #ff1616;
}