.race-section {
    padding: 5rem 3rem;
    background: #111010;
    position: relative;
    z-index: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrap {
    border: 1px solid rgba(255, 255, 255, 0.06);
    overflow-x: auto;
}

thead tr {
    background: #F5F2EE;
    border-left: 3px solid #E8000D;
}

th {
    color: #060606;
    padding: 0.8rem 1.2rem;
    text-align: left;
    font-size: .58rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'DM Mono', monospace
}

tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    transition: background .12s;
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.03);
}

td {
    padding: .85rem 1.2rem;
    font-size: .78rem;
    color: #555;
    font-family: 'DM Mono', monospace
}

.td-gp {
    color: #F5F2EE;
    font-weight: 500;
}

.td-position {
    color: #E8000D;
    font-weight: 500;
}

.chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid;
    font-size: 0.7rem;
    border: 1px solid;
    font-weight: 500;
}

.c1 {
    color: #C8A96E;
    border-color: rgba(200, 169, 110, 0.4);
    background: rgba(200, 169, 110, 0.08);
}

.c2 {
    color: #ccc;
    border-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.04);
}

.c3 {
    color: #a07050;
    border-color: rgba(160, 112, 80, 0.3);
    background: rgba(160, 112, 80, 0.06);
}

.cx {
    color: #7a7979;
    border-color: rgba(255, 255, 255, 0.066);
    background: transparent;
}

.race-head {
    margin-bottom: 2.5rem;
}

.race-eyebrow {
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #E8000D;
    margin-bottom: .4rem;
    font-family: 'DM Mono', monospace;
}

.race-h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.03em;
    line-height: 1;
}

.red {
    color: #E8000D;
}

.controls {
    margin-bottom: 1.5rem;
}

.search-wrap input {
    width: 100%;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-left: 3px solid #F5F2EE;
    color: #F5F2EE;
    font-family: 'DM Mono', monospace;
    font-size: 0.78rem;
    padding: 0.7rem 1rem;
    outline: none;
}

.search-wrap input:focus {
    background: rgba(255, 255, 255, 0.06);
    border-color: rgba(255, 255, 255, 0.15);
}

.search-wrap input::placeholder {
    color: #414141;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
}

.pg-info {
    font-family: 'DM Mono', monospace;
    font-size: 0.6rem;
    color: #838282;
    letter-spacing: 0.1em;
}

.pg-buttons {
    display: flex;
}

.pg-button {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'DM Mono', monospace;
    font-size: 0.65rem;
    padding: 0.4rem 0.75rem;
    cursor: pointer;
    transition: all 0.12s;
}

.pg-button:last-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.pg-button:hover:not(:disabled) {
  background: rgba(255, 255, 255, 0.06);
  color: #F5F2EE;
}

.pg-button:disabled {
  opacity: 0.15;
  cursor: default;
}